# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Slitt-client/nbproject/private/
/Slitt-client/build/
/Slitt-client/dist/
/Slitt/build/
/Slitt/dist/
/Slitt/nbproject/
/Slitt-common/build/
/Slitt-common/dist/
/Slitt-common/nbproject
/Slitt/Slitt-ejb/build/
/Slitt/Slitt-ejb/dist/
/Slitt/Slitt-ejb/nbproject
